---
import NationalCodingDayLayout from "../../components/NationalCodingDayLayout.astro";
import QuoteMdStyle from "../../components/QuoteMdStyle.astro";
import { Content } from "../../markdown/national-coding-day/currentCoreWebVitals.md";
---

<NationalCodingDayLayout page={1} title="Cost of javascript">
  <QuoteMdStyle>
    <div class="h-full flex items-center">
      <Content />
    </div>
  </QuoteMdStyle>
</NationalCodingDayLayout>
