---
import JsShippedSrc from "../../assets/js-shipped.png";
import AstroImage from "../../components/AstroImage.astro";
import MdStyle from "../../components/MdStyle.astro";
import NationalCodingDayLayout from "../../components/NationalCodingDayLayout.astro";
import { Content } from "../../markdown/national-coding-day/javascriptGrowthByTwoTimes.md";
---

<NationalCodingDayLayout page={5} title="Cost of javascript">
  <MdStyle>
    <div class="h-full flex flex-col justify-center items-center gap-4">
      <AstroImage
        src={JsShippedSrc}
        width={1000}
        height={500}
        alt="JS-Shipped"
      />
      <MdStyle>
        <Content />
      </MdStyle>
    </div>
  </MdStyle>
</NationalCodingDayLayout>
