---
import NationalCodingDayLayout from "../../components/NationalCodingDayLayout.astro"

---

<NationalCodingDayLayout next={2} prev={''}>
  <h1 class="text-white flex h-fit">National coding day slide 1</h1>
</NationalCodingDayLayout>