---
import BloatedEcom from "../../modules/national-coding-day/e-commerce/BloatedEcom";
import { MiniCart } from "../../modules/national-coding-day/e-commerce/MiniCart";
import { ProductCardsList } from "../../modules/national-coding-day/e-commerce/ProductCardsList";
import { StorefrontContainer } from "../../modules/national-coding-day/e-commerce/StorefrontContainer";
import NationalCodingDayLayout from "../../modules/national-coding-day/NationalCodingDayLayout.astro";
---

<NationalCodingDayLayout
  page={12}
  title="Code Splitting #2"
  subTitle="The Solution"
>
  <StorefrontContainer>
    <MiniCart client:load />
    <div class="w-full h-full overflow-scroll">
      <ProductCardsList row={2} />
      <div class="w-full h-130 flex flex-col p-4 border-2 border-white">
        <div class="text-white text-3xl">You may also like</div>
        <div class="flex justify-center">
          <BloatedEcom client:visible />
        </div>
      </div>
    </div>
  </StorefrontContainer>
</NationalCodingDayLayout>
