---
import BloatedEcom from "../../modules/national-coding-day/e-commerce/BloatedEcom";
import { MiniCart } from "../../modules/national-coding-day/e-commerce/MiniCart";
import { ProductCardsList } from "../../modules/national-coding-day/e-commerce/ProductCardsList";
import { StorefrontContainer } from "../../modules/national-coding-day/e-commerce/StorefrontContainer";
import { YouMayLikeSection } from "../../modules/national-coding-day/e-commerce/YouMayLikeSection";
import NationalCodingDayLayout from "../../modules/national-coding-day/NationalCodingDayLayout.astro";
---

<NationalCodingDayLayout
  page={12}
  title="Code Splitting #2"
  subTitle="The Solution"
>
  <StorefrontContainer>
    <MiniCart client:load />
    <div class="w-full h-full overflow-scroll">
      <ProductCardsList row={2} client:only />
      <YouMayLikeSection client:only>
        <BloatedEcom client:visible />
      </YouMayLikeSection>
    </div>
  </StorefrontContainer>
</NationalCodingDayLayout>
