---
import NationalCodingDayLayout from "../../components/NationalCodingDayLayout.astro";
import Globe from "../../modules/bloated-components/bloated-component";
import { MiniCart } from "../../modules/e-commerce/MiniCart";
import { ProductCardsList } from "../../modules/e-commerce/ProductCardsList";
import { StorefrontContainer } from "../../modules/e-commerce/StorefrontContainer";
---

<NationalCodingDayLayout
  page={12}
  title="Lazy Loading"
  subTitle="Bloat components"
>
  <StorefrontContainer>
    <MiniCart client:load />
    <div class="w-full h-full overflow-scroll">
      <ProductCardsList row={2} />
      <Globe client:visible />
    </div>
  </StorefrontContainer>
</NationalCodingDayLayout>
