---
import { Image } from "@astrojs/image/components";
import imageSrc from "../../assets/current-ui-lib-state.png";
import NationalCodingDayLayout from "../../components/NationalCodingDayLayout.astro";
---

<NationalCodingDayLayout
  page={2}
  title="Where we are at"
  subTitle="Current Gold Standard"
>
  <div class="flex w-full justify-center">
    <Image src={imageSrc} width={716} height={483} alt="logo" />
  </div>
</NationalCodingDayLayout>
