---
import NationalCodingDayLayout from "../../components/NationalCodingDayLayout.astro"

---

<NationalCodingDayLayout prev={1} next={''}>
  <h1 class="text-white flex h-fit">National coding day slide 2</h1>
</NationalCodingDayLayout>