---
import NationalCodingDayLayout from "../../components/NationalCodingDayLayout.astro";
---

<NationalCodingDayLayout page={3}>
    <div class="flex flex-col w-full h-full justify-center items-center">
        <h1 class="text-9xl text-white">What can we do in the meantime?</h1>
      </div>
</NationalCodingDayLayout>
