---
import NationalCodingDayLayout from "../../modules/national-coding-day/NationalCodingDayLayout.astro";
---

<NationalCodingDayLayout page={3} title="Core Web Vitals">
  <div class="flex flex-col h-full w-full justify-center items-center">
    <div>
      <div class="flex flex-col gap-2 text-white text-5xl mb-6">
        <div class="text-inherti">
          Core web vitals measure the User Experience of a website
        </div>
        <div class="text-inherit">There 3 metrics:</div>
      </div>

      <ul
        class="text-white text-3xl flex flex-col justify-start align-top gap-6 list-disc list-inside"
      >
        <li class="text-inherit">
          Largest Contentful Paint (LCP) = how soon can I see largest contents ?
        </li>
        <li class="text-inherit">
          First Input Delay (FID) = How soon can website respond to my input ?
        </li>
        <li class="text-inherit">
          Layout Shift (CLS) = Is there any content I've seen shifted ? How bad
          ?
        </li>
        <li class="text-inherit">
          Amount of JS shipped to browser contributes to LCP, and FID scores
        </li>
      </ul>
    </div>
  </div>
</NationalCodingDayLayout>
