---
import lodashProblemSrc from "../../assets/lodash-problem.webp";
import NationalCodingDayLayout from "../../modules/national-coding-day/NationalCodingDayLayout.astro";
import AstroImage from "../../shared/components/AstroImage.astro";
---

<style is:global>
  pre {
    background: #151718;
    font-size: xx-large;
    border-radius: 10px;
    padding: 40px;
  }
  pre > code {
    display: grid;
    row-gap: 10px;
  }
</style>

<NationalCodingDayLayout
  page={4}
  next="5"
  prev="3.1"
  title="Fixing 3rd party packages import"
  subTitle="Lodash"
>
  <div class="flex w-full h-full justify-center items-center">
    <AstroImage
      src={lodashProblemSrc}
      width={1000}
      height={500}
      alt="lodash-problem"
    />
  </div>
</NationalCodingDayLayout>
