---
import JsShippedSrc from "../../assets/js-shipped.png";
import { Content } from "../../markdown/national-coding-day/javascriptGrowthByTwoTimes.md";
import NationalCodingDayLayout from "../../modules/national-coding-day/NationalCodingDayLayout.astro";
import AstroImage from "../../shared/components/AstroImage.astro";
import MDTextStyle from "../../shared/components/MDTextStyle.astro";
---

<NationalCodingDayLayout page={4} title="Cost of javascript" resource="https://httparchive.org/reports/state-of-javascript#bytesJs">
  <MDTextStyle>
    <div class="h-full flex flex-col justify-center items-center gap-4">
      <AstroImage
        src={JsShippedSrc}
        width={1000}
        height={500}
        alt="JS-Shipped"
      />
      <MDTextStyle>
        <Content />
      </MDTextStyle>
    </div>
  </MDTextStyle>
</NationalCodingDayLayout>
