---
import { Content } from "../../markdown/national-coding-day/lodash-problem.md";
import NationalCodingDayLayout from "../../modules/national-coding-day/NationalCodingDayLayout.astro";
import MDCodeBlockStyle from "../../shared/components/MDCodeBlockStyle.astro";
---

<NationalCodingDayLayout
  page={4}
  next="4.1"
  title="Fixing 3rd party packages import"
  subTitle="Lodash: The Problem"
>
  <div class="flex flex-col gap-3 w-full h-full justify-center items-center">
    <MDCodeBlockStyle>
      <Content />
    </MDCodeBlockStyle>
    <div class="text-white text-l text-center">
      Named import in Lodash, whose files are re-exported in CJS, which can't be
      staticly analyzed by bundler
    </div>
  </div>
</NationalCodingDayLayout>
