---
import { Content as LodashDirectImport } from "../../markdown/national-coding-day/lodash-solution-direct.md";
import { Content as LodasESM } from "../../markdown/national-coding-day/lodash-solution-esm.md";
import NationalCodingDayLayout from "../../modules/national-coding-day/NationalCodingDayLayout.astro";
import MDCodeBlockStyle from "../../shared/components/MDCodeBlockStyle.astro";
---

<NationalCodingDayLayout
  page={5}
  next="5.1"
  prev="4.1"
  title="Fixing 3rd party packages"
  subTitle="Lodash: The Solution"
>
  <MDCodeBlockStyle>
    <div class="flex w-full h-full justify-around items-center flex-wrap">
      <div class="flex flex-col gap-1">
        <LodashDirectImport />
        <div class="text-white text-xl text-center">Direct import</div>
      </div>
      <div class="flex flex-col gap-1">
        <LodasESM />
        <div class="text-white text-xl text-center">Lodash ES module</div>
      </div>
    </div>
  </MDCodeBlockStyle>
</NationalCodingDayLayout>
