---
import imageSrc from "../../assets/current-ui-lib-state.png";
import AstroImage from "../../components/AstroImage.astro";
import NationalCodingDayLayout from "../../components/NationalCodingDayLayout.astro";
---

<NationalCodingDayLayout
  page={5}
  title="Where we are at"
  subTitle="Current Gold Standard"
>
  <div class="flex w-full justify-center">
    <AstroImage src={imageSrc} width={716} height={483} alt="logo" />
  </div>
</NationalCodingDayLayout>
