---
import NationalCodingDayLayout from "../../modules/national-coding-day/NationalCodingDayLayout.astro";
import { NPMTrend } from "../../modules/national-coding-day/npm-trends";
---

<NationalCodingDayLayout
  page={6}
  title="Removing/Replacing 3rd party"
  subTitle="Moment.js"
>
  <div class="flex w-full h-full justify-center items-center">
    <NPMTrend client:load />
  </div>
</NationalCodingDayLayout>
