---
import NationalCodingDayLayout from "../../modules/national-coding-day/NationalCodingDayLayout.astro";
---

<NationalCodingDayLayout
  page={7}
  title="Dealing with Javascript bundle"
  subTitle="The curated list"
>
  <div class="flex flex-col items-center text-white">
    <ul
      class="text-white text-5xl flex flex-col justify-start align-top gap-8 list-disc list-inside"
    >
      <li class="text-inherit">Fixing 3rd party packages import</li>
      <li class="text-inherit">Replacing/removing 3rd packages</li>
      <li class="text-inherit">Code splitting 1#</li>
      <li class="text-inherit">Code splitting 2#</li>
      <li class="text-inherit">Enable tree shaking</li>
      <li class="text-inherit">Tree shakable modules</li>
    </ul>
  </div>
</NationalCodingDayLayout>
