---
import AstroImage from "../../components/AstroImage.astro";
import NationalCodingDayLayout from "../../components/NationalCodingDayLayout.astro";
import momentJSAlternativeSrc from "../../assets/moment-js-alternative.webp";
---

<NationalCodingDayLayout
  page={8}
  title="Bloated 3rd party"
  subTitle="Moment.js"
>
  <div class="flex w-full h-full justify-center items-center">
    <AstroImage src={momentJSAlternativeSrc} width={1800} height={450} alt="Moment.js Bundle Phobia"/>
  </div>
</NationalCodingDayLayout>
