---
import lodashProblemSrc from "../../assets/lodash-problem.webp";
import NationalCodingDayLayout from "../../modules/national-coding-day/NationalCodingDayLayout.astro";
import AstroImage from "../../shared/components/AstroImage.astro";
---

<NationalCodingDayLayout
  page={9}
  title="Fixing 3rd party packages import"
  subTitle="Lodash: The Problem"
>
  <div class="flex w-full h-full justify-center items-center">
    <div class="flex flex-col gap-3 w-full h-full justify-center items-center">
      <AstroImage
        src={lodashProblemSrc}
        width={1000}
        height={500}
        alt="lodash-problem"
      />
      <div class="text-white text-l text-center">
        Results in the whole Lodash modules shipped to browser 
      </div>
    </div>
  </div>
</NationalCodingDayLayout>
