---
import NationalCodingDayLayout from "../../components/NationalCodingDayLayout.astro";
import { BloatedStorefront } from "../../modules/lazy-loading/e-commerce";
---

<NationalCodingDayLayout
  page={9}
  title="Lazy Loading"
  subTitle="Bloat components"
>
  <div
    class="flex w-full h-full justify-center items-center px-10 py-5 overflow-hidden"
  >
    <BloatedStorefront client:only />
  </div>
</NationalCodingDayLayout>
