<style is:global>
  p {
    color: white;
    font-size: 2ch;
    text-align: center;
  }

  a {
    color: #fad956;
    text-decoration-line: underline;
  }

  ul > li {
    color: white;
  }

  a:hover {
    cursor: pointer
  }
</style>

<div><slot /></div>
