---
import relieveFaceSrc from "../assets/relieve-bundle-size.png";
import AstroImage from "./AstroImage.astro";

---

<div>
  <AstroImage
    src={relieveFaceSrc}
    width={400}
    height={400}
    alt="relive-bundle-face"
  />
  <div class="text-green-500">1kb</div>
</div>
