<style is:global>
  p {
    color: white;
    font-size: 5ch;
    text-align: center;
  }

  em > a {
    color: #fad956;
    text-decoration-line: underline;
  }

  a:hover {
    color: royalblue;
  }
</style>

<div><slot/></div>
